eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8765

spring:
  application:
    name: eureka-feign

feign:
  hystrix:
    enabled: true  # 开启 feign 断路器模式
